# Conversion de tipos de datos

- **Como convertir tipos de numeros**
    - **Convertir enteros en flotantes** <br>
    Entrada:
    `float(10)` <br>
    Salida: 
    `10.0`

    - **Convertir flotantes en enteros** <br>
    Entrada:
    `int(3.1415)` <br>
    Salida: 
    `3`

- **Como realizar conversiones con cadenas**
    - **Convertir numeros en cadenas** <br>
    Entrada:
    `str(10)` <br>
    Salida: 
    `"10"`

    - **Convertir un numero a cadena** <br>
    Entrada: 
    `int("10")` <br>
    Salida: 
    `10`

- **Como convertir en tuplas y listas**
    - **Convertir en tuplas** <br>
    Entrada:
    `tuple([1,2,3,4,5])` <br>
    Salida:
    `(1,2,3,4,5)`

    - **Convertir en lista** <br>
    Entrada:
    `list((1,2,3,4,5))` <br>
    Salida:
    `[1,2,3,4,5]`